// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
html{
		background: url('/images/bg.png') repeat center top; 
}

body > header{
		background-color: transparent;
}

body > header h1 a{
		text-shadow: #999 0px 1px 0px, #888 0px 2px 0px, #777 0px 3px 0px, #666 0px 4px 0px, #555 0px 5px 0px, #444 0px 6px 0px, #333 0px 7px 0px, #001135 0px 8px 7px;
}

body > div { 
		background-color: transparent; 
}

body > div > div { 
		background-color: transparent; 
}

body.sidebar-footer aside.sidebar { 
		background-color:transparent;
}

body > footer {
		background-image: none;		
		background-color: transparent;
}

body > nav {
		background-color: transparent;
		background-image: none;
		border-top-width: 0;
		border-bottom-width: 0;		
}